* {
    --primary-50: #ffffff;
    --primary-150: #f0ffff;
    --primary-250: #cadbff;
    --primary-350: #a5b6f0;
    --primary-450: #8091cb;
    --primary-550: #5a6ba5;
    --primary-650: #354680;
    --primary-750: #0f205a;
    --primary-850: #000035;
    --primary-950: #000010;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: var(--primary-750);
    color: white;
    padding: 2rem;
}

.main-container {
    display: flex;
    height: 840px;
}

.left-container {
    flex: 1;
    background-color: var(--primary-250);
}

.right-container {
    flex: 1;
    background-color: var(--primary-150);
    position: relative;
}

.right-container > p {
    position: absolute;
    right: 100px;
    top: 100px;
}

.big-circle {
    position: absolute;
    right: 500px;
    top: 100px;
    background-color: #0f205a80;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.small-circle {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #0f205a80;
    border-radius: 100%;
}