.dot {
    opacity: 75%;
}

.dot.active {
    background-color: #a860ee;
    opacity: 1;
}

.info-group {
    margin: 20px 0 10px;
}

.form-card.form-card {
    padding: 20px 50px;
}

.btn-card.btn-card {
    margin: 10px;
}