* {
    --primary-50: #ffffff;
    --primary-150: #f0ffff;
    --primary-250: #cadbff;
    --primary-350: #a5b6f0;
    --primary-450: #8091cb;
    --primary-550: #5a6ba5;
    --primary-650: #354680;
    --primary-750: #0f205a;
    --primary-850: #000035;
    --primary-950: #000010;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.map {
    position: relative;
    background-color: var(--primary-350);
    width: 70%;
    overflow: scroll;
}

#map-img {
    display: block;
    margin: auto;
    width: 5635px;
}

.info-bar {
    position: fixed;
    background-color: var(--primary-250);
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    padding: 50px;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: var(--primary-750);
    border-radius: 100%;
}

.info-label {
    margin-top: 0;
    line-height: 0;
}

.form-label {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-input {
    margin: 10px 0;
    font-size: 24px;
    flex: auto;
    align-self: flex-end;
}

.form-card {
    padding: 40px 50px;
    background-color: var(--primary-350);
    border-radius: 20px;
    box-shadow: 0 8px 32px -6px #000000;
}

.button {
    flex: 1;
    font-size: 24px;
    font-weight: 700;
    color: hsl(240, 3%, 95%);
    background-color: var(--primary-550);
    padding: 20px 50px;
    margin: 35px auto 0;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: var(--primary-650);
}

.button:active {
    background-color: var(--primary-750);
}

.btn-card {
    display: flex;
}

.coords {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}